@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

*{
    margin: 0;
    font-family: "Plus Jakarta Sans", sans-serif;
}

:root{
    --grey: #475569;
    --darkblue: #0F172A;
    --purple: #4F46E5;
    --darkgreen: #16A34A;
    --lightgreen: #DCFCE7;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

/* Header */

header{
    display: flex;
    margin: 20px auto;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1152px;
    align-items: center;
}

header img{
    width: 129px;
}

header nav ul{
    display: flex;
    margin: auto;
    gap: 20px;
}

header nav ul a{
    color: var(--grey);
}

header nav ul a:hover{
    color: var(--purple);
    transition: all 0.3s ease-in-out;
}

header #Télécharger{
    border: 1px solid var(--darkblue);
    border-radius: 23px;
    background-color: var(--darkblue);
    color: white;
    padding: 10px 15px;
}

header #Télécharger:hover{
    color: var(--darkblue);
    background-color: white;
    transition: all 0.3s ease-in-out;
}

/* Main */

/* Section 1 */

main .section1 div{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: auto;
    max-width: 1152px;
    align-items: center;
}

main .section1 div .title{
    color: var(--purple);
    font-size: 14px;
    font-style: italic;
    font-weight: bold;
    padding: 15px 0;
}

main .section1 div h1{
    font-size: 72px;
    font-weight: bold;
    color: var(--darkblue);
    padding: 15px 0;
}

main .section1 div h1 #questions{
    color: var(--purple);
}

main .section1 div p{
    font-size: 16px;
    color: var(--grey);
    padding: 15px 0;
}

main .section1 div .btnapp{
    display: flex;
    gap: 30px;
    padding: 15px 0;
}

main .section1 div .btnapp a img{
    width: 18px;
}

main .section1 div .btnapp #appstore{
    border: 1px solid var(--darkblue);
    border-radius: 13px;
    background-color: var(--darkblue);
    padding: 10px 15px;
    color: white;
}

main .section1 div .btnapp #playstore{
    border: 1px solid var(--darkblue);
    border-radius: 13px;
    padding: 10px 15px;
    color: var(--darkblue);
}

main .section1 div img{
    width: 100%;
}

main .section1 div .droite .span{
    border: 1px solid white;
    border-radius: 16px;
    background-color: white;
    position: absolute;
    padding: 16px;
    right: 0;
    bottom: 0;
    display: inline;
}

main .section1 div .droite .span .note{
    color: var(--darkgreen);
    font-weight: bold;
    border: 1px solid var(--lightgreen);
    background-color: var(--lightgreen);
    border-radius: 30px;
    padding: 10px;
}

/* Footer */

footer{
    background-color: var(--darkblue);
    margin: auto;
    max-width: 1440px;
    height: 160px;
    display: flex;
}

footer div{
    display: flex;
    margin: 20px auto;
    max-width: 1152px;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    color: white;
    gap: 60px;
}

footer div img{
    width: 110px;
}

footer div nav ul{
    display: flex;
    gap: 20px;
}

footer div nav ul a{
    color: white;
}

footer div nav ul a:hover{
    color: var(--purple);
    transition: all 0.3s ease-in-out;
}

footer div p a{
    color: white;
}

footer div p a:hover{
    color: var(--purple);
    transition: all 0.3s ease-in-out;
}