@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

*{
    margin: 0;
    font-family: "Plus Jakarta Sans", sans-serif;
}

:root{
    --grey: #475569;
    --darkblue: #0F172A;
    --purple: #4F46E5;
    --darkgreen: #16A34A;
    --lightgreen: #DCFCE7;
    --backgroundcolor: #F8FAFC;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

/* Header */

header{
    display: flex;
    margin: 20px auto;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1152px;
    align-items: center;
}

header img{
    width: 129px;
}

header nav ul{
    display: flex;
    margin: auto;
    gap: 20px;
}

header nav ul a{
    color: var(--grey);
}

header nav ul a:hover{
    color: var(--purple);
    transition: all 0.3s ease-in-out;
}

header #Télécharger{
    border: 1px solid var(--darkblue);
    border-radius: 23px;
    background-color: var(--darkblue);
    color: white;
    padding: 10px 15px;
}

header #Télécharger:hover{
    color: white;
    border: 1px solid var(--purple);
    background-color: var(--purple);
    transition: all 0.3s ease-in-out;
}

/* Main */

/* Section 1 */

main .section1{
    background-color: var(--backgroundcolor);
    margin: auto;
    max-width: 1440px;
}

main .section1 div{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: auto;
    max-width: 1152px;
    align-items: center;
}

main .section1 div .title{
    color: var(--purple);
    font-size: 14px;
    font-style: italic;
    font-weight: bold;
    padding: 15px 0;
}

main .section1 div h1{
    font-size: 72px;
    font-weight: bold;
    color: var(--darkblue);
    padding: 15px 0;
}

main .section1 div h1 #questions{
    color: var(--purple);
}

main .section1 div p{
    font-size: 16px;
    color: var(--grey);
    padding: 15px 0;
}

main .section1 div .btnapp{
    display: flex;
    gap: 30px;
    padding: 15px 0;
}

main .section1 div .btnapp a img{
    width: 18px;
}

main .section1 div .btnapp #appstore{
    border: 1px solid var(--darkblue);
    border-radius: 13px;
    background-color: var(--darkblue);
    padding: 10px 15px;
    color: white;
}

main .section1 div .btnapp #playstore{
    border: 1px solid var(--darkblue);
    border-radius: 13px;
    padding: 10px 15px;
    color: var(--darkblue);
}

main .section1 div img{
    width: 100%;
}

main .section1 div .droite .span{
    border: 1px solid white;
    border-radius: 16px;
    background-color: white;
    position: absolute;
    padding: 10px 15px;
    right: 60px;
    bottom: -300px;
    display: inline;
    padding-left: 50px;
}

main .section1 div .droite .span .note{
    color: var(--darkgreen);
    font-weight: bold;
    border: 1px solid var(--lightgreen);
    background-color: var(--lightgreen);
    border-radius: 30px;
    padding: 10px;
    position: relative;
    right: 45px;
    top: 35px;
}

/* Section 2 */

main .section2 h2{
    text-align: center;
    color: var(--darkblue);
    font-size: 36px;
    font-weight: 800;
    margin: 20px auto;
}

main .section2 p{
    text-align: center;
    color: var(--grey);
    font-size: 16px;
    margin: 10px auto;
    margin-bottom: 80px;
    max-width: 672px;
}

main .section2 div{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 60px;
    margin: 20px auto;
    max-width: 1104px;
    text-align: center;
}

main .section2 div h3{
    text-align: justify;
    margin-top: 20px;
    font-size: 20px;
    font-weight: 800;
    color: var(--darkblue);
}

main .section2 div p{
    text-align: justify;
    font-size: 14px;
    color: var(--grey);
}

main .section2 div #danger{
    border: 1px solid #FFEDD5;
    background-color: #FFEDD5;
    border-radius: 16px;
    padding: 15px;
}

main .section2 div #cloud{
    border: 1px solid #DCFCE7;
    background-color: #DCFCE7;
    border-radius: 16px;
    padding: 15px;
}

main .section2 div #book{
    border: 1px solid #F3E8FF;
    background-color: #F3E8FF;
    border-radius: 16px;
    padding: 15px;
}

/* Section 3 */

main .section3{
    margin: auto;
    max-width: 1440px;
    background-color: var(--backgroundcolor);
    display: flex;
}

main .section3 div{
    margin: 30px auto;
    max-width: 1104px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
}

main .section3 div img{
    max-width: 100%;
    border: 13px solid white;
    background-color: var(--backgroundcolor);
    padding: 30px;
    border-radius: 40px;
}

main .section3 div .divimg{
    text-align: center;
}

main .section3 div h2{
    font-weight: 800;
    font-size: 36px;
    color: var(--darkblue);
}

main .section3 div h3{
    color: var(--darkblue);
    font-weight: 700;
    font-size: 18px;
}

main .section3 div .p1{
    color: var(--grey);
    font-size: 18px;
    margin-top: 15px;
}

main .section3 .p2{
    font-size: 16px;
    color: var(--grey);
}

main .section3 div #num{
    border: 1px solid var(--purple);
    border-radius: 180px;
    background-color: var(--purple);
    padding: 10px 15px;
    color: white;
    position: relative;
    right: 50px;
    top: 35px;
}

/* Section 4 */

main .section4 h2{
    text-align: center;
    color: var(--darkblue);
    font-size: 36px;
    font-weight: 800;
    margin: 30px auto;
}

main .section4 div{
    margin: 20px auto;
    max-width: 1152px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 60px;
}

main .section4 div .avis{
    border: 1px solid var(--backgroundcolor);
    border-radius: 24px;
    background-color: var(--backgroundcolor);
    padding: 10px 15px;
}

main .section4 div p{
    font-size: 16px;
    font-style: italic;
    color: var(--grey);
}

main .section4 div #petitediv{
    display: inline;
    text-align: center;
}

main .section4 div #petitediv #violet{
    border: 1px solid #C7D2FE;
    background-color: #C7D2FE;
    color: var(--purple);
    border-radius: 180px;
    padding: 10px 15px;
}

main .section4 div #petitediv #rose{
    border: 1px solid #FBCFE8;
    background-color: #FBCFE8;
    color: #BE185D;
    border-radius: 180px;
    padding: 10px 15px;
}

main .section4 div #petitediv #vert{
    border: 1px solid #BBF7D0;
    background-color: #BBF7D0;
    color: #15803D;
    border-radius: 180px;
    padding: 10px 15px;
}

main .section4 div #petitediv #violet,
main .section4 div #petitediv #rose,
main .section4 div #petitediv #vert{
    position: relative;
    left: 30px;
    top: 25px;
}

/* Footer */

footer{
    background-color: var(--darkblue);
    margin: auto;
    max-width: 1440px;
    height: 160px;
    display: flex;
}

footer div{
    display: flex;
    margin: 20px auto;
    max-width: 1152px;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    color: white;
    gap: 60px;
}

footer div img{
    width: 110px;
}

footer div nav ul{
    display: flex;
    gap: 20px;
}

footer div nav ul a{
    color: white;
}

footer div nav ul a:hover{
    color: var(--purple);
    transition: all 0.3s ease-in-out;
}

footer div p a{
    color: white;
}

footer div p a:hover{
    color: var(--purple);
    transition: all 0.3s ease-in-out;
}